:root {
	--primary-light: #fffbf3;
	--primary-dark: #333;
	--accent-light: #53fff4;
	--accent-dark: #d90368;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

#root,
.App {
	height: 95vh;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	text-decoration: underline;
}

/* to hide the up/down arrows in the input */
.hide-spinners::-webkit-outer-spin-button,
.hide-spinners::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.hide-spinners {
	-moz-appearance: textfield;
}

.smaller-font {
	font-size: 0.8rem;
}

.even-smaller-font {
	font-size: 0.7rem;
}

header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
}

.header__right {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 8px;
}

footer {
	display: flex;
	justify-content: space-between;
	margin: 12px 0;
}

.copyright {
	font-size: 0.8rem;
}
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Space+Mono:400,700&display=swap");

h1,
h2 {
	font-family: "Fira Sans", sans-serif;
}

h1 {
	margin-top: 0.4rem;
	margin-bottom: 0.3rem;
	color: var(--accent-dark);
}

h2 {
	font-size: 1.4rem;
}

input,
textarea,
li,
.skill__box {
	font-family: "Space Mono", monospace;
	color: black;
}

label {
	font-family: "Fira Sans", sans-serif;
	letter-spacing: 0.2ch;
	margin-bottom: 4px;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--primary-dark);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: "Fira Sans", BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: var(--primary-light);
}

.dark-mode {
	background-color: var(--primary-dark);
	color: var(--primary-light);
}

.dark-mode * {
	background-color: var(--dark-mode-bg-color);
	color: var(--primary-light);
}

.dark-mode h1 {
	color: var(--accent-dark);
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: var(--primary-light);
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

@media (min-width: 800px) {
	.header__right {
		width: auto;
		display: block;
		margin-bottom: 0;
	}

	.header__right > .clickable {
		margin-bottom: 4px;
	}
}
