.basics {
	width: 100%;
	grid-area: basics;
	display: grid;
	grid-gap: 8px;
	grid-template-areas:
		"name"
		"background"
		"special";
}

@media (min-width: 500px) {
	.basics {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			"name background background"
			"special special special ";
	}
}

.basics__name {
	grid-area: name;
}

.basics__background {
	grid-area: background;
}

.basics__input--special {
	font-size: 0.9rem;
}

.basics__special {
	grid-area: special;
}

.basics__input--special {
	height: 180px;
}

label {
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

.basics__input {
	line-height: 1.2rem;
}

.basics input,
textarea {
	padding: 6px;
	border: 1px solid black;
	width: 100%;
}
