.inventory {
	grid-area: inventory;
}

.inventory__grid {
	display: grid;
	grid-template-rows: repeat(12, 36px);
	grid-auto-flow: column;
	row-gap: 4px;
	column-gap: 50px;
}

@media (min-width: 500px) {
	.inventory__grid {
		grid-template-rows: repeat(6, 40px);
		grid-template-columns: 1fr 1fr;
	}
}

.item {
	border-bottom: 1px solid black;
}

.item__input {
	height: 100%;
	width: 100%;
	padding: 2px;
	border: none;
	border-radius: 0;
	resize: none;
	margin-bottom: -10px;
}
