.skills {
    width    : 100%;
    grid-area: skills;
}

.skills input {
    margin-bottom: 0px;
    border-radius: 0;
}

.skills h2 {
    margin-top: 0px;
}

.skills__grid {
    display              : grid;
    grid-gap             : 8px;
    grid-template-columns: 1fr 36px 36px 36px;
}

.skills__grid__heading::after {
    position   : relative;
    left       : 6px;
    font-weight: normal;
}

.skills__grid__heading.skill__box--rank::after {
    content: "+";
}

.skills__grid__heading.skill__box--skill::after {
    content: "=";
}

.skill__name>input {
    border       : none;
    border-bottom: 1px solid black;
    width        : 100%;
}

.skill__name {
    grid-column: 1;
}

.skill__box {
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    border         : 1px solid black;
}

.skill__box--rank {
    grid-column: 2;
    width      : 100%;
    font-weight: bold;
}

.skill__box--skill-stat {
    grid-column: 3;
}

.skill__box--total {
    grid-column: 4;
    font-weight: bold;
    color      : tomato;
    font-size  : 1.5rem;
}

.skills__grid__heading {
    font-weight: normal;
    color      : black;
    text-align : right;
    font-size  : .8rem;
}

.skills .header {
    font-size: .5rem;
}